*.o
lib*.a
*.lo
*.la
.libs
.deps
.vagrant
COPYING
INSTALL
aclocal.m4
config.guess
config.sub
config.log
config.status
config.cache
configure
config.h
config.h.in
stamp-h
stamp-h.in
compile
depcomp
install-sh
missing
Makefile.in
Makefile
libtool
ltmain.sh
rpm.d
ggcov.spec
ggcov-*.tar.gz
version.m4
core.*
ggcov-*.rpm
vg*.log
autom4te.cache
stamp-h1
.nautilus-metafile.xml
*.bck
.pc
patches
