[Desktop Entry]
Name=GGcov
Comment=Source code coverage browser
Icon=ggcov64.png
Exec=ggcov
Terminal=false
Type=Application
Categories=Application;Development;
