[Desktop Entry]
Name=GGcov
Comment=Source code test coverage browser
Icon=ggcov64
Exec=ggcov
Terminal=false
Type=Application
Categories=Development;IDE;
GenericName=Test Coverage Browser
Encoding=UTF-8
